footer
    .footer-container
        .logo.footer-creative-logo
            img(src="../src/img/Group.svg", alt="" id="logo-brand-icon")
            img(src="../src/img/TOXIN.svg", alt="" id="logo-brand-name")
        .text.footer-description
            p Lorem ipsum dolor sit amet consectetur adipisicing elit aliquam eget nullam pellentesque aliquam curabitur cociis.
        .contact-bar
            .contact.twitter
            .contact.facebook
            .contact.instagram
            